<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/citas.css">
    <title>TECBank web</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">
            TECBank Web
        </a>
        <div class="header-right">
          <a class="active" href="/mainpage">Home</a>
          <a href="citas">Citas</a>
          <a href="planahorro">Iniciar un plan de ahorros</a>
          <a href="transferencias">Transferencias</a>
          <a href="internet">Internet</a>
          <a href="educativas">Instituciones educativas</a>
          <a href="mainpaget">Tipo de cambio</a>
        </div>
      </div>

      <div class="options">
        <a href="cancelarcita">
            <button>
                Cancelar una cita
            </button>
        </a>
        <a href="reagendarcita">
            <button>
                Modificar fecha y hora de una cita
            </button>
        </a>
        <a href="agendarcita">
            <button>
                Agendar una cita
            </button>
        </a>
      </div>
      <script src= "//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <% if(typeof alert != "undefined") { %>
          <script>
              Swal.fire({
                  title: '<%= alertTitle %>',
                  text: '<%- alertMessage %>',
                  icon: '<%= alertIcon %>',
                  showConfirmButton: <%= showConfirmButton %>,
                  timer: <%= timer %>
              });
          </script>
      <% } %>
      <script>
          var citas = <%- (some) %>;
          var div = document.createElement('div');
          div.style = "align-items: center;"
          document.getElementsByTagName('body')[0].appendChild(div);
          var i = 0;
          while(citas[i] != undefined){
            console.log(citas[1]);
            var onediv = document.createElement('div');
            onediv.style  = "float: left; margin: 100px; margin-bottom: 20px;background: #d1180a;padding: 15px; color: white; border-radius: 5px; width: 500px;";
            div.appendChild(onediv);
            var h2 = document.createElement('h2');
            h2.textContent = "Identificador: " + citas[i].id;
            var h31 = document.createElement('h3');
            h31.textContent = "Fecha: " + citas[i].date;
            onediv.appendChild(h2);
            onediv.appendChild(h31);
            i++;
          }
      </script> 
      
</body>
</html>