<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/transIntra.css">
    <title>TECBank web</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">
            TECBank Web
        </a>
        <div class="header-right">
          <a class="active" href="/mainpage">Home</a>
          <a href="citas">Citas</a>
          <a href="planahorro">Iniciar un plan de ahorros</a>
          <a href="transferencias">Transferencias</a>
          <a href="internet">Internet</a>
          <a href="educativas">Instituciones educativas</a>
          <a href="mainpaget">Tipo de cambio</a>
        </div>
      </div>

      <div class="enviartoken">
        <form action="internet" method="POST">
            <label for="proveedor">Ingrese el proveedor:</label><br>
            <select name="proveedor" id="proveedor" required>
                <option value="tigo">Tigo</option>
                <option value="kolbi">Kolbi</option>
                <option value="cabletica">CableTica</option>
            </select><br>
            <label for="contrato">Ingrese el numero de contrato:</label><br>
            <input type="text" name="contrato" id="contrato" required><br>
            <label for="cuentadebitar">Ingrese la cuenta a debitar:</label><br>
            <input type="text" name="cuentadebitar" id="cuentadebitar" required><br>
            <input type="submit" value="Confirmar"><br>
        </form>
    </div>
    <script src= "//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            });
        </script>
    <% } %>
</body>
</html>