<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/transIntra.css">
    <title>TECBank web</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">
            TECBank Web
        </a>
        <div class="header-right">
          <a class="active" href="/mainpage">Home</a>
          <a href="citas">Citas</a>
          <a href="planahorro">Iniciar un plan de ahorros</a>
          <a href="transferencias">Transferencias</a>
          <a href="internet">Internet</a>
          <a href="educativas">Instituciones educativas</a>
          <a href="mainpaget">Tipo de cambio</a>
        </div>
      </div>
      
      <div class="enviartoken">
        <form action="planahorro" method="POST">
            <label for="plazo">Seleccione el plazo en años:</label><br>
            <select type="number" name="plazo" id="plazo" required>
                <option value="1">Corto (1 año) </option>
                <option value="3">Largo (3 años)</option>
                <option value="5">Largo (5 años)</option>
                <option value="10">Largo (10 años)</option>
            </select><br>
            <label for="nombre">Ingrese el nombre del plan:</label><br>
            <input type="text" name="nombre" id="nombre" required><br>
            <label for="montoinicial">Ingrese el monto inicial:</label><br>
            <input type="number" name="montoinicial" id="montoinicial" required><br>
            <label for="cuentadebitar">Ingrese la cuenta a debitar:</label><br>
            <input type="text" name="cuentadebitar" id="cuentadebitar" required><br>
            <input type="submit" value="Iniciar plan"><br>
        </form>
    </div>
    <script src= "//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            });
        </script>
    <% } %>
</body>
</html>