<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/transIntra.css">
    <title>TECBank web</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">
            TECBank Web
        </a>
        <div class="header-right">
          <a class="active" href="/mainpage">Home</a>
          <a href="citas">Citas</a>
          <a href="planahorro">Iniciar un plan de ahorros</a>
          <a href="transferencias">Transferencias</a>
          <a href="internet">Internet</a>
          <a href="educativas">Instituciones educativas</a>
          <a href="mainpaget">Tipo de cambio</a>
        </div>
      </div>

      <div class="enviartoken">
        <form action="reagendarcita" method="POST">
            <label for="id">Ingrese el identificador de la cita:</label><br>
            <input type="number" name="id" id="id" required><br>
            <label for="fecha">Ingrese la fecha:</label><br>
            <input type="datetime-local" name="fecha" id="fecha" required><br>
            <input type="submit" value="Confirmar"><br>
        </form>
    </div>
    <script src= "//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            });
        </script>
    <% } %>
</body>
</html>